/* 
font-family: 'Indie Flower', cursive;
font-family: 'Inter', sans-serif;
 */

* {
  /* box-sizing: content-box; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
  --nav-height: 6.7rem;

  --title-h1:  4.6rem;
  --title-h2:  2.8rem;
  --sub-title-h4: 2rem;

  --title-h1-web:  4.6rem;
  --title-h2-web:  4.6rem;
  --title-h3-web: 2.3rem;
  --sub-title-h4-web: 2rem;
  --paragraph-p-web: 1.3rem;

  --text-button-on-web: 1.1rem;
  
  --primary-color: hsla(0, 100%, 50%, 1);
  --secondary-color: #ffff;
  --title: hsla(0, 1%, 27%, 1);
  --paragraph: hsla(0, 0%, 75%, 1);
  
  
  --mustard-yellow: hsla(61, 100%, 50%, 1);
  --sunset-orange: hsla(0, 94%, 65%, 1);
  --sunshade: hsla(25, 91%, 64%, 1);

  --bg-light: #E5E5E5;

  font-size: 62.5%;
}

/* body::-webkit-scrollbar {
  width: 1.2rem;
  display: block;
}

body::-webkit-scrollbar-track {
  background: initial;        /* color of the tracking area */
/* } */

/* body::-webkit-scrollbar-thumb { */
  /* background-color: var(--primary-color);    color of the scroll thumb */
  /* border-radius: 2rem;       roundness of the scroll thumb */
/* } */

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  text-align: center;

  width: 100vw;
  height: 100%;
  overflow: overlay;
  
  padding: 0;
  background-color: var(--bg-light);
}

a {
  cursor: pointer;
}

.wrapper {
  width: min(50rem, 100%); 
  padding-inline: 1.8rem;
  margin-inline: auto;
}

section span {
  font-weight: 800;
  font-size: 13.5rem;
  color: black;

  opacity: 0.2;
  transform: rotate(-90deg);

  position: absolute;

  left: 50%;
  right: 50%;

  /* transition: 0.8s ease;  */

  z-index: -10;
}
