
@media screen and (min-width: 1024px) {
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  } 

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links,
  nav#navigation .btn-group__text {
    display: none;
  }
  
  #navigation {
    height: var(--nav-height);
  }
  
  nav#navigation::before {
    width: 50%;
    height: 100%;
    transition: width 400ms
  }

  nav#navigation .wrapper .menu {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  nav#navigation .menu,
  nav#navigation .logo {
    transform: translateX(0);
  }

  nav#navigation .logo {
    width: 6.7rem;
    height: auto;
    margin-top: 1.2rem;
    margin-right: 10rem;
    margin-left: 2rem;

    text-decoration: none;
  }

  nav#navigation .logo__text {
    display: none;
    font-size: 1.8rem;
    font-family: 'Indie Flower';
    font-weight: bold;

    margin-bottom: 0.6rem;
  }

  nav#navigation .logo__text,
  nav#navigation .menu ul a {
    transition: color 400ms;
  }

  nav#navigation .menu ul {
    display: flex;
    gap: 2.1rem;
    
    list-style: none;
    margin-right: 32rem;
  }
 
  nav#navigation .menu ul a {
    font-size: 1.1rem;
    color: var(--primary-color);
    text-align: center; 
  }

  nav#navigation .menu ul li a.active { 
    color: black;
  }
  
  nav#navigation .tel-nav {
    font-size: 1.3rem;
    margin-right: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
  }

  nav#navigation .btn-group__cart svg {
    width: 3.2rem;
  }

  nav#navigation.scroll::before {
    width: 100%;
  }

  nav#navigation .logo--dis .logo__text {
    display: block;
  }

  nav#navigation.scroll .logo__text,
  nav#navigation .menu ul li a.link--color {
    color: white;
  }

  nav#navigation .menu ul li a.active {
    color: black;
  }

  nav#navigation.navigation--tam {
    height: 4.4rem;
  }

  nav#navigation .logo--dis img {
    display: none;
  }

  nav#navigation .btn-group__cart--tam svg {
    margin-top: 0.2rem;
    width: 2.4rem;
  }

  nav#navigation.navigation--tam,
  nav#navigation .logo--dis,
  nav#navigation .btn-group__cart--tam svg {
    transition: all 0.4s;
  }

  nav#navigation .menu ul li a::after {
    content: '';
    height: 2px;
    background-color: var(--primary-color);

    position: relative;
    bottom: -0.9rem;
    display: block;

    margin-inline: 50%;

    transition: margin 0.2s;
  }
  
  nav#navigation .menu li a.active::after {
    background-color: black;
  }
  
  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation.scroll .menu ul li a.active {
    color: white;
  }

  nav#navigation.scroll .menu li a.active::after {
    background-color: white;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    margin-inline: 0;
  }
}