
#home {
  width: 100%;
  padding-top: calc(var(--nav-height) + 4.1rem);
  padding-bottom: 3.8rem;
  background-color: white;
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-sizing: content-box;
  display: flex;
  background-color: var(--primary-color);
}

#home p {
  text-align: start;
}

#home .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* height: calc(100vh - (var(--nav-height) + 8%)); */
}

#home header h1 {
  font-weight: 700;
  font-size: var(--title-h1);
  margin-bottom: 2.6rem;
  color: black;
}

#home header p {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 2.6rem;
  color: white;
}

#home .home-button {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-color: black;
  padding-block: 1rem;
  padding-inline: 1.6rem;

  width: 100%;
  color: white;

  text-decoration: none;
  text-transform: uppercase;

  font-weight: 600;
  font-size: 2.1rem;
}

#home .first-food {
  width: 39.5rem;
}

#home .first-text h3 {
  color: var(--mustard-yellow);
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: .4rem;
}

#home .first-text p {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.7rem;
  
}

#home span {
  color: white;
  top: calc(55% + var(--nav-height));
  z-index:  -10;
}
