
@media screen and (min-width: 1024px) {
  #home {
    display: flex;
    padding-top: var(--nav-height);
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  
  #home::before {
    content: "";
    width: 50%;
    height: 100%;
    background: var(--primary-color);
    display: block;
    
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
  }
  
  #home p {
    text-align: start;
  }
  
  #home .wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: calc(100vh - (var(--nav-height) + 8%));
  }
  
  #home header {
    display: flex;
    flex-direction: column;
    width: 27.3rem;
    margin-right: 38rem;
  }
  
  #home header h1 {
    font-weight: 700;
    font-size: 4.6rem;
    margin-bottom: 2.6rem;
    color: var(--title);
  }
  
  #home header p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 2.6rem;
  }
  
  #home .home-button {
    border-radius: 1rem;
    background-color: var(--primary-color);
    padding-block: .8rem;
    padding-inline: 1.6rem;
  
    width: 40%;
    color: white;
  
    text-decoration: none;
    text-transform: uppercase;
  
    font-weight: 400;
    font-size: 1.1rem;
  }
  
  #home .first-food {
    width: 39.5rem;
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #home .first-text {
    width: 15.3rem;
  }
  
  #home .first-text h3 {
    color: var(--mustard-yellow);
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: .4rem;
  }
  
  #home .first-text p {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  
  #home span {
    font-weight: 800;
    font-size: 13.5rem;
    color: white;
  
    opacity: 0.15;
    transform: rotate(-90deg);
  
    position: absolute;
    top: 60%;
    left: calc(98% - (13.5rem + 4rem));
    right: .73rem;
  }
  
  #test {
    height: 100vh;
    width: 100vw;
  }
  
  #test::before {
      content: "";
      width: 50%;
      height: 100%;
      background: var(--primary-color);
      display: block;
      
      position: absolute;
      top: 0;
      right: 0;
      z-index: -100;
  }
}

@media screen and (max-height: 600px) {
  #home span {
    top: calc(2% + var(--nav-height));
  }
}
