
@media screen and (min-width: 1024px) {
  #home {
    margin-top: var(--nav-height);
    padding-top: calc(-(var(--nav-height)));
    height: calc(100vh - var(--nav-height));
    background-color: white;
    z-index: 0;
  }
  
  #home::before {
    content: "";
    width: 50%;
    height: 100%;
    background: var(--primary-color);
    display: block;
    
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
  }
  
  #home p {
    text-align: start;
  }
  
  #home .wrapper {
    flex-direction: row;
    /* justify-content: inherit; */
    position: relative;
    height: calc(100vh - (var(--nav-height) + 8%));
  }

  #home header {
    display: flex;
    flex-direction: column;
    /* width: 24rem; */
  }
  
  #home header h1 {
    font-size: var(--title-h1-web);
    margin-bottom: 1rem;
    color: var(--title);
  }
  
  #home header p {
    font-size: var(--paragraph-p-web);
    line-height: 1.7rem;
    margin-bottom: 1.2rem;
    color: var(--paragraph)
  }
  
  #home .home-button {
    border-radius: 1rem;
    background-color: var(--primary-color);
    padding-block: .6rem;
    padding-inline: 1.2rem;
  
    width: 40%;
    color: white;
  
    text-decoration: none;
    text-transform: uppercase;

    font-weight: 400;
    font-size: var(--text-button-on-web);
  }
  
  #home .first-food {
    width: 39.7rem;
    padding-bottom: 4rem;
    /* position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-46%); */
  }
  
  #home .first-text {
    width: 15rem;
    text-align: left;
    margin-right: 6rem;
  }
  
  #home .first-text h3 {
    color: var(--mustard-yellow);
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: .4rem;
  }
  
  #home .first-text p {
    color: white;
    font-weight: 600;
    font-size: var(--paragraph-p-web);
    line-height: 1.7rem;
  }
  
  #home span {
    color: white;
    top: calc(30% + var(--nav-height));
  }
  
  #test {
    height: 100vh;
    width: 100vw;
  }
  
  #test::before {
    content: "";
    width: 50%;
    height: 100%;
    background: var(--primary-color);
    display: block;
    
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
  }
}

